@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #5f9ed3;
    --color-secondary: #d9e6f9;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    background-color: #d9e6f9;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: #FFFFFF !important;
}

.btn-primary{
    background-color: #ddedfe;
    border-color: #e7eff1;
    color: #000 !important;
}

.btn-primary:hover, .btn-primary:focus{
    background-color: #eff7ff;
    border-color: #eff7ff;
    color: #E1F6FC !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #ddedfe;
   border-color: transparent !important;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #eff7ff;
  border-color: transparent !important;
  color: #000;
}